@import url(https://fonts.googleapis.com/css?family=Open+Sans:300);

#seccion-nosotros{
    margin-top: 25px;
}

#seccion-nosotros-titulo-cabecera{
    justify-content: center;
    background: #094746;
}
 
#seccion-nosotros-titulo-texto{
    font-family: Arial Black; 
    font-weight: bold;
    font-size: 2.5em;
    color:white;
}

#seccion-nosotros-informacion-titulos-texto{
    margin-top: 10px;
    font-family: Arial Black; 
    font-weight: bold;
    color: #F44336;
    text-align: center;
    font-size: 2.25em;
}

#seccion-nosotros-informacion-textos{
    margin-top: 10px;
    text-align: justify;
    font-family: Arial Black; 
    font-weight: bold;
    font-size: 1.15em;
}